.FooterBackgroundPromoBarColor {
    color: #1E2C20;
}

.StrokeforCardColor {
    color: #000000;
}

.TextColor {
    color: #292828;
}

.ActiveHoverColorNavSale {
    color: #982A1C;
}

.AccentTextColor {
    color: #B73A2A;
}

.LogoBackgroundColor {
    color: #D76151;
}

.ColorOptionforCard1 {
    color: #EA2D2C;
}

.ColorOptionforCard2 {
    color: #FB5108;
}

.ColorOptionforCard3 {
    color: #D29D12;
}

.ColorOptionforCard4 {
    color: #353535;
}

.NavBarTextColor {
    color: #3F3C3C;
}

.NavBarHoverColor {
    color: #797A7A;
}

.BackgroundColor {
    color: #EDEDED;
}

.SecondaryTextFooterPromoBannerCardColor {
    color: #FFFFFF;    
}