/* Colors */
.FooterBackgroundPromoBarColor {
    color: #1E2C20;
}

.StrokeforCardColor {
    color: #000000;
}

.TextColor {
    color: #292828;
}

.CookwareBuiltLoLastBg{
   background-color: #181818CC; 
}

.ActiveHoverColorNavSale {
    color: #982A1C;
}

.AccentTextColor {
    color: #B73A2A;
}

.LogoBackgroundColor {
    background-color: #D76151;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
}

.ColorOptionforCard1 {
    color: #EA2D2C;
}

.ColorOptionforCard2 {
    color: #FB5108;
}

.ColorOptionforCard3 {
    color: #D29D12;
}

.ColorOptionforCard4 {
    color: #353535;
}

.NavBarTextColor {
    color: #3F3C3C;
}

.NavBarHoverColor {
    color: #797A7A;
}

.BackgroundColor {
    color: #EDEDED;
}

.White {
    color: #FFFFFF;
}

/* Font Sizing */

h1 {
    font-family: Roboto, inter;
    font-weight: Bold 60 px;
}

h2 {
    font-family: Roboto, inter;
    font-weight: Semibold 36 px;
}

h3 {
    font-family: Roboto, inter;
    font-weight: Bold 40 px;
}

h4 {
    font-family: Roboto, inter;
    font-weight: Regular 48 px;
}

h5 {
    font-family: Roboto, inter;
    font-weight: Semibold 20 px;
}

Body {
    font-family: Roboto, inter, times;
    font-weight: Regular 24 px;
}

/* Body {
    font-family: Roboto, inter;
    font-weight: Regular 20 px;
}

Body {
    font-family: Roboto, inter;
    font-weight: Regular 18 px;
}

Body {
    font-family: Roboto, inter;
    font-weight: Semibold 18 px;
} */



/*  */
nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* .link-underline-opacity-100-hover {
    color: #B73A2A;
} */

.HeroImageBG {
    background-image: url(../assets/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
    /* width: 100%; */
}