/* Colors */
.FooterBackgroundPromoBarColor {
    background-color: #1E2C20;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.StrokeforCardColor {
    color: #000000;
}

.TextColor {
    color: #292828;
}

.CookwareBuiltLoLastBg {
    background-color: #181818CC;
}

.ActiveHoverColorNavSale {
    color: #982A1C;
}

.AccentTextColor {
    color: #B73A2A;
}

.LogoBackgroundColor {
    background-color: #D76151;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
}

.ColorOptionforCard1 {
    color: #EA2D2C;
}

.ColorOptionforCard2 {
    color: #FB5108;
}

.ColorOptionforCard3 {
    color: #D29D12;
}

.ColorOptionforCard4 {
    color: #353535;
}

.NavBarTextColor {
    color: #3F3C3C;
}

.NavBarHoverColor {
    color: #797A7A;
}

.BackgroundColor {
    color: #EDEDED;
}

.White {
    color: #FFFFFF;
}

/* Font Sizing */

h1 {
    color: #292828;
    font-family: Roboto, inter;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

h2 {
    color: #292828;
    font-family: Roboto, inter;
    font-weight: 600;
    font-size: 36px;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: Roboto, inter;
    font-weight: Bold 40 px;
}

h4 {
    font-family: Roboto, inter;
    font-weight: normal;
    font-size: 48px;
}

h5 {
    font-family: Roboto, inter;
    font-weight: Semibold 20 px;
}


Body {
    background-color: #EDEDED;
    font-family: Roboto, inter;
    font-weight: normal;
    font-size: 24px;
}

/*  */
nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.MiddleBodyCentering {
    padding-left: 7%;
    padding-right: 7%;
}

/* .link-underline-opacity-100-hover {
    color: #B73A2A;
} */

@media (min-width: 992px) {
    .HeroImageBG {
        background-image: url(../assets/hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 1067px;
        /* width: 100%; */
    }
}

@media (max-width: 991px) {
    .HeroImageBG {
        background-image: url(../assets/hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 500px;
        /* width: 100%; */
    }
}

.HeroText {
    text-align: center;
    position: absolute;
    top: 75%;
    left: 23.5%;
    transform: translate(-50%, -50%);
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

.PromoBarText {
    font-family: Roboto, inter;
    font-weight: normal;
    font-size: 24 px;
}

/* .SectionHeaders {
    color: #292828;
    font-family: Roboto, inter;
    font-weight: bold;
    font-size: 64 px;
} */

.StartCookingCard {
    border-radius: 1.2rem;
    height: 100%;
}

.StartCookingText {
    font-family: Roboto, inter;
    font-weight: 600;
    font-size: 36px;

    margin-top: 1rem;
    margin-bottom: 0;
}

.DescriptionText {
    font-family: Roboto, inter;
    font-weight: normal;
    font-size: 18px;
}

.PanColorSelector1 {
    border-radius: 100%;
    background-color: #EA2D2C;
    width: 30px;
    height: 30px;
}

.PanColorSelector2 {
    border-radius: 100%;
    background-color: #FB5108;
    width: 30px;
    height: 30px;
}

.PanColorSelector3 {
    border-radius: 100%;
    background-color: #D29D12;
    width: 30px;
    height: 30px;
}

.PanColorSelector4 {
    border-radius: 100%;
    background-color: #353535;
    width: 30px;
    height: 30px;
}

.CardBorder {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 24px;
}

.RoundedImg {
    border-radius: 10px;
}

button {
    width: 159px;
    height: 42px;
    border: 1px solid #292828;
    font-size: 16px;
    color: #292828;
}

button:hover {
    background-color: #1E2C20;
    color: #FFFFFF;
}